div {
    display: inline-block;
    height: 200px;
    width: 200px;
    color: white;
    background-color: rgb(58, 58, 61);
    text-align: center;
    border: 1px solid black;
}

div:hover {
    background-color: cadetblue;
}