@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300,400,500,600,700,800,900&display=swap');

@font-face {
    font-family: 'bleach';
    src: url('Font/Arrancar-rgK98.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
* body
{
    background: fixed;
    height: 100vh;
    width: 100%;
    background-image: radial-gradient(circle at 114.09% 79.88%, #2b515b 0, #2c4c52 8.33%, #2c4649 16.67%, #2d3f40 25%, #2d3737 33.33%, #2c2f2f 41.67%, #2a2627 50%, #271d21 58.33%, #23151c 66.67%, #1f0e1a 75%, #1c0418 83.33%, #170017 91.67%, #100017 100%);
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .John
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#text
{
    display: flex;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

section#texto {
    padding: 50px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: white;
}

section#texto > h1 {
    text-align: center;
    padding-bottom: 25px;
}

.card {
    border-radius: 20px;
    box-shadow: 0px 2px 20px #00072d59;
    background: #fff;
    width: 350px;
}

.midiacard {
    background: url("https://i.pinimg.com/originals/c7/03/9d/c7039d9cd43f04823d229c469890f1f9.jpg") center/cover;
    height: 200px;
    width: 100%;
}

#title {
    font-family: 'bleach',sans-serif;
    color: rgb(117,88,143);
}

.secondtext {
    text-align: justify;
    font-family: 'bleach',sans-serif;
    color: rgb(115, 144, 189);
}

.topcard {
    padding: 20px;
}

.bottomcard {
    font-family: 'bleach',sans-serif;
   padding: 20px;
}

.actions {
    cursor: pointer;
    background: none;
    border: none;
    color: purple;
}

.actions:hover {
    cursor: pointer;
    background: none;
    border: none;
    color: rgb(255, 0, 255);
}