body{
    background-color: #101728;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.area-login{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.Login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a2130;
    border-radius: 10px;
    width: 355px;
    height: 320px;
    padding: 40px;
}

.Login form{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.Login input{
    margin-top: 10px;
    background-color: #101728;
    padding-left: 10px;
    color: #ffffff;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
}

.Login img{
    width: auto;
    height: auto;
}

input::placeholder{
    color: #ffffff;
    font-size: 14px;
}

form [type="submit"]{
    display: block;
    background-color: #ff0000;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

p{
    color: white;
}

a{
    color: #1f41bd;
    text-decoration: none;
    margin-left: 10px;
}

.area-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.Cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a2130;
    border-radius: 10px;
    width: 355px;
    height: 400px;
    padding: 40px;
}

.Cadastro form{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.Cadastro input{
    margin-top: 10px;
    background-color: #101728;
    padding-left: 10px;
    color: #ffffff;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
}

form [type="submit"]{
    display: block;
    background-color: #ff0000;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}